# Скомпилированные бинарные файлы
*.exe
*.dll
*.so
*.dylib
*.test

# Директория сборки
/build/
bin/

# Файлы зависимостей (в случае, если Go-модули не используются)
vendor/

# Кэширование и временные файлы Go
*.log
*.out
*.cover
*.tmp

# Кэш модуля Go
/go/pkg
/go/bin

# IDE или редакторы кода
.idea/
.vscode/
*.swp

# Системные файлы
.DS_Store
Thumbs.db

# Скрытые файлы настроек окружения
.env
.env.*
